<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/systyle.css" />
</head>
<body>
	<div class="header">
		<div class="appheader">
			<a href="https://www.zhihu.com">
				<img src="shouye/知乎.png" class="logo">
			</a>
			<ul class="navigation">
				<li class="navinner">
					<a href="https://www.zhihu.com/" class="isActive tabLinks">首页</a>
				</li>
				<li class="navinner">
					<a href="" class="tabLinks">发现</a>
				</li>
				<li class="navinner">
					<a href="https://www.zhihu.com/" class="tabLinks">等你来答</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
	</script>
</body>
</html>